<%= form_for(@gamble) do |f| %>
  <% if @gamble.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gamble.errors.count, "error") %> prohibited this gamble from being saved:</h2>

      <ul>
      <% @gamble.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </div>
  <div class="field">
    <%= f.label :interval %><br>
    <%= f.text_field :interval %>
  </div>
  <div class="field">
    <%= f.label :good_outcome %><br>
    <%= f.text_field :good_outcome %>
  </div>
  <div class="field">
    <%= f.label :bad_outcome %><br>
    <%= f.text_field :bad_outcome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
