<p id="notice"><%= notice %></p>

<h1>Surveys</h1>

<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Start</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.title, survey %></td>
        <td><%= link_to survey.description, survey %></td>
        <td><%= link_to 'Start', survey %></td>
        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey', new_survey_path, class: "btn btn-primary" %>
