<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container survey_container">
    <br>
    <h2> <%= @survey_instance.patient_id %></h2>
    <hr>
    
    <div class="survey_header">
      <h1><%= @survey.title %> </h1>
      <p><%= @survey.description %></p>
      <p><%= @survey.instructions %></p>
    </div>
    
    <ol class="sections">
      <% section = @survey.sections[@section_id] %>
        <li>
          <h3>
            <span>Section Title: </span>
            <%= section.title %>
          </h3>
          <p><%= section.description %></p>
          <p><%= section.instructions %></p>
          <% section.gambles.each do |gamble| %>
          <% if !@survey_instance.took_gamble(gamble.id) %>
            <%= render 'gambles/run_gamble', gamble: gamble %>
            <br>
            <br>
            <h4>On a scale of 1-10, how much pain to you feel?</h4>
            <br>
          <% end %>
          <% end %>
          
          <ol class="questions">
            <% section.questions.each do |question| %>
              <li><%= question.content %></li>
            <% end %>  
          </ol>
          
        </li>
    </ol>
    
  
  </div>
  <br>
  <br>
  <% if @survey.sections[@section_id - 1] && @section_id != 0 %> 
    <%= link_to 'Back', survey_instance_path(@survey_instance, section: (@section_id - 1))%>
  <% end %> 
  <% if (@survey.sections[@section_id + 1]) %>
    <%= link_to 'Next', survey_instance_path(@survey_instance, section: (@section_id + 1))%> 
  <% end %>

<% end %>
